// light theme colors
$color-light-bg: #f9f8f6;
$color-light-card: #fbebef;
$color-light-text: #37353e;
$color-light-accent: #c9b59c;

// dark theme colors
$color-dark-deep: #1b3c53;
$color-dark-card: #234c6a;
$color-dark-text: #d3dad9;
$color-dark-accent: #456882;

// other consts
$container-width: 1200px;
$transition-speed: 0.3s;
$border-radius: 12px;
