@use 'variables' as *;

:root {
  --bg-color: #{$color-light-bg};
  --card-bg: #{$color-light-card};
  --text-primary: #{$color-light-text};
  --accent-color: #{$color-light-accent};
  --color-search-bar: #{$color-light-search-bar};

  --button-bg: #{$button-light-bg};
  --button-hover: #{$button-light-hover};
  --dropdown-bg: #{$dropdown-light-bg};
}

[data-theme='dark'] {
  --bg-color: #{$color-dark-deep};
  --card-bg: #{$color-dark-card};
  --text-primary: #{$color-dark-text};
  --accent-color: #{$color-dark-accent};
  --color-search-bar: #{$color-dark-search-bar};

  --button-bg: #{$button-dark-bg};
  --button-hover: #{$button-dark-hover};
  --dropdown-bg: #{$dropdown-dark-bg};
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-color);
  color: var(--text-primary);
  font-family: var(--font-montserrat);
  transition:
    background-color #{$transition-speed},
    color #{$transition-speed};
  min-height: 100vh;
  min-width: 320px;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
